

@media only screen and (min-width: 340px){
 
    .card-back{
        top:20%;
    left:16%;
    }

    .card-container{
     
        left:5%;
    }

    
   

   
    
   

}
@media only screen and (min-width: 390px){
 
    .card-back{
        width:300px;
        top:15%;
        left:20%;
    }

    .card-container{
        top:60%;
        left:10%;
    }

    .front-card{
        width:300px;
    }

    .text-overlay{
        width:300px;
        height:160px;
        gap:30px;
    }

    .card-logo{
        width: 50px;
    }

    .submit-content-container{
        width:90%;
    }
   
    

   
    
   

}

@media only screen and (min-width: 450px){

    input{
        width:90%;
    }
 
    .card-back{
        top:15%;
        left:30%;
    }

    .card-container{
        top:60%;
        left:15%;
    }

    .card-content{
        font-size:18px;
    }
    .display-card-number{
        font-size:18px;
    }

    
   

}


@media only screen and (min-width: 520px){
 
    .card-back{
        width:350px;
        top:15%;
        left:30%;
    }

    .card-container{
        
        top:50%;
        left:15%;
    }
    .front-card{
        width:350px;
    }

    .card-detail-form{
        width:80%;
    }

    .text-overlay{
        width:350px;
        height:180px;
    }

    .card-logo{
        width: 70px;
    }

      
    .submit-content-container{
        width:75%;
    }

    .submit-right-container{
        justify-content: center;
        align-items: center;
    }

}



@media only screen and (min-width: 620px){
 
    .card-back{
        top:15%;
        left:40%;
    }

    .card-container{
        top:50%;
        left:20%;
    }

    .card-detail-form{
        width:70%;
    }
    .submit-content-container{
        width:60%;
    }
   

}

@media only screen and (min-width: 764px){
 
    .card-back{
        top:15%;
        left:50%;
    }

    .card-container{
        top:50%;
        left:30%;
    }

    .card-detail-form{
        width:70%;
    }

   


}




@media only screen and (min-width: 860px){

    .container{
        flex-direction: row;
        /* justify-content: space-between; */
        gap:200px;
    }

    .left-container{
        height:100vh;
        width:40%;
    }

    .right-container{
        height:100vh;
        width:60%;
    }

    .card-back{
        top:45%;
        left:35%;
    }

    .card-container{
        top:15%;
        left:15%;
    }
    .submit-btn{
        width:100%;
    }
    .card-detail-form{
        width:88%;
    }

    .submit-content-container{
        width:90%;
    }

}

@media only screen and (min-width: 900px){
 
    .display-card-number{
        font-size: 22px;
        
    }

    .display-container{
        font-size:16px;
    }

    .right-container{
        height:100vh;
        width:45%;
    }

    .left-container{
        height:100vh;
         width:35%;
     }

     .card-container{
        left:20%;
    }
   
    .card-back{
        left:40%;
    }

    .card-detail-form{
        width:85%;
    }

    .submit-content-container{
        width:85%;
    }

}



@media only screen and (min-width: 1060px){

    .right-container{
        width: 50%;
        height:100vh;
     }

 

     .card-detail-form{
         width:80%;
     }

     .card-back{
        width:400px;
        top:50%;
        left:40%;
     }

     .front-card{
        width:400px;
     }

     .text-overlay{
        width:400px;
        height:200px;
        gap:56px;
     }

     .card-content{
        gap:20px;
     }

     .exp-cvc-container{
      gap:18px;
     }

     .card-container{
        left:25%;
    }

    .submit-content-container{
        width:75%;
    }
   
    




    
 

}


@media only screen and (min-width: 1200px) {

   
    .card-container{
        left:30%;
    }
   
    .card-back{
        left:50%;
    }

    .submit-content-container{
        width:60%;
    }


   

}


@media only screen and (min-width: 1370px) {


    input{
        width:100%;
    }
    .left-container{
        width:40%;
    }
    .right-container{
       width: 70%;
       height:100vh;
    }
    .card-detail-form{
        width:60%;
    }
    .card-container{
        left:30%;
    }
   
    .card-back{
        left:45%;
    }

    


}