






@media only screen and (min-width: 860px){

    .container{
        flex-direction: row;
        /* justify-content: space-between; */
        gap:200px;
    }

    .left-container{
        height:100vh;
        width:40%;
    }

    .right-container{
        height:100vh;
        width:60%;
    }

    .card-back{
        left:35%;
    }

    .card-container{
        left:15%;
    }

}

@media only screen and (min-width: 900px){
 
    .display-card-number{
        font-size: 22px;
        
    }

    .display-container{
        font-size:16px;
    }

    .right-container{
        height:100vh;
        width:45%;
    }

    .left-container{
        height:100vh;
         width:35%;
     }

     .card-container{
        left:20%;
    }
   
    .card-back{
        left:40%;
    }


}



@media only screen and (min-width: 1060px){

    .right-container{
        width: 50%;
        height:100vh;
     }

 

     .card-detail-form{
         width:70%;
     }

     .card-back{
        width:400px;
        top:50%;
        left:40%;
     }

     .front-card{
        width:400px;
     }

     .text-overlay{
        width:400px;
        height:200px;
        gap:56px;
     }

     .card-content{
        gap:20px;
     }

     .exp-cvc-container{
      gap:18px;
     }

     .card-container{
        left:25%;
    }
   
    




    
 

}


@media only screen and (min-width: 1200px) {

    .card-detail-form{
        width:60%;
    }
    .card-container{
        left:30%;
    }
   
    .card-back{
        left:50%;
    }


   

}


@media only screen and (min-width: 1370px) {


    input{
        width:80%;
    }
    .left-container{
        width:40%;
    }
    .right-container{
       width: 70%;
       height:100vh;
    }
    .card-detail-form{
        width:45%;
    }
    .card-container{
        left:30%;
    }
   
    .card-back{
        left:45%;
    }


}