@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');


:root {
    --red-error: hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --primary-violet: hsl(270, 3%, 87%);
    --violet: hsl(279, 6%, 55%);
    --dark-violet: hsl(278, 68%, 11%);
    --my-gradient: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));

  }



*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
   
    width:100vw;
    height:100vh;
   overflow-y: hidden;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
  
  

}

label{
    font-size: 12px;
    letter-spacing: 1.2px;
    display: flex;
    flex-direction: column;
    gap:8px;
    color:var(--dark-violet)

}

input{
    outline:none;
    padding: 8px;
    border-radius: 8px;
    border:1px solid var(--primary-violet);
    width:90%;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size:14px;
    letter-spacing: 1px;
    color:var(--dark-violet)

}

input::placeholder{
    color:var(--violet)
}

input:focus{
    border:1px solid var(--dark-violet);
}

.container{
    
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    gap:60px;
    border:2px solid red;
    
}


.left-container{

    height:35vh;
    border:2px solid blue;
    width:100%;
    position: relative;
}

.bg-img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.card-container{
    position: absolute;
    top:15%;
    left:30%;
    border:2px solid red;
}

.front-card{
    width:350px;
    position: absolute;
    z-index:1;
}

.text-overlay{
    border:2px solid yellow;
    width:350px;
    height:180px;
    position: absolute;
    z-index:2;
    display:flex;
    flex-direction: column;
    gap:30px;
    padding-top:30px;
    padding-inline:30px;


}

.card-logo{
    width: 70px;
}

.card-content{
    border:2px solid green;
    display: flex;
    flex-direction: column;
    gap:20px;
    font-size: 18px;
    color:var(--white);
    letter-spacing: 1.5px;
}

.display-card-number{
    font-size: 18px;
    letter-spacing: 1.5px;
}

.display-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size:14px;
    

}

.card-back{
    width:350px;
    position: absolute;
    top:45%;
    left:50%;
}



.right-container{
    height:60vh;
    border:2px solid green;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
 
    
}

.card-detail-form{
    border:2px solid blue;
    width:80%;
    padding:36px;
    display:flex;
    flex-direction: column;
    gap: 28px;
}

.exp-cvc-container{
    display: flex;
    flex-direction: row;
    gap:30px;
    align-items: center;
}

.exp-date-container{
    width:40%;
  
}
.exp{
     width:90%;
    display: flex;
    flex-direction: row;
    gap:6px;
}

.cvc-container{
    width:40%;
}

.cvc-container input{
    width:100%;
}

.error{
    color:var(--red-error);
    font-size:10px;
}

.error-input{
    border:1px solid var(--red-error);
}


.submit-btn{
    width:80%;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-block:12px;
    border-radius:8px;
    outline:none;
    border:none;
    background-color: var(--dark-violet);
    color: var(--white);
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size:16px;
    transition: all;
    transition-duration: 1.4s;
    
}

.submit-btn:hover{
    box-shadow: 0 0 30px var(--primary-violet);
}